$color: red;

$bg-color: blue;

.page__footer {
  color: $bg-color;

  & + .logo {
    background-color: #fff;
  }
}

.page__body {
  width: 10px;
  height: 20px;

  &:hover {
    background-color: $bg-color;
  }
}
