.section-masters {
  padding-top: 94px;
  background: var(--background-third);
}

.masters-list {
  display: flex;
}

.title-masters {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--text-primary);
}

.pfoto {
  margin-bottom: 30px;
}

.masters {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--second-color);
}

.masters:not(:last-child) {
  margin-right: 30px;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-primary);
}

.profession {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;

  font-size: 16px;
  line-height: 1.18;
  color: var(--text-secondary);
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin-top: 16px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons:not(:last-child) {
  margin-right: 10px;
}

.social {
  display: block;
  padding: 12px;

  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  fill: #ffffff;
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--theme-color);
}
