:root {
  --theme-color: #2196f3;
  --second-color: #ffffff;
  --logostudio-color: #000000;

  --background-first: #2f303a;
  --background-section-list: #e5e5e5;
  --background-third: #f5f4fa;

  --text-primary: #212121;
  --text-secondary: #757575;
  --text-third: rgba(255, 255, 255, 0.6);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-size: 14px;
  font-family: $primary-font, sans-serif;
  letter-spacing: 0.03em;
  color: $text-primary;
  background-color: $white-color;
}

a {
  transition: color $transition, background-color $transition;
}

button {
  font-family: inherit;

  transition: color $transition, background-color $transition;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.padding-bottom {
  padding-bottom: 94px;
}
